<h3>Currency Converter</h3>
<form (ngSubmit)="show=true">
  <div class="form-control">
    <label for="fromCurrency">from Currency:</label>
    <select name="fromCurrency" id="fromCurrency" [(ngModel)]="fromCurr" required>
      <option value="USD">USD</option>
      <option value="GBP">GBP</option>
      <option value="INR">INR</option>
    </select>
  </div>
  <div class="form-control">
    <label for="toCurrency">to Currency:</label>
    <select name="toCurrency" id="toCurrency" [(ngModel)]="toCurr" required>
      <option value="USD">USD</option>
      <option value="GBP">GBP</option>
      <option value="INR">INR</option>
    </select>
  </div>
  <div class="form-control">
    <input type="number" name="amount" id="amount" [(ngModel)]="amount" required>
  </div>
  <input type="submit" value="Submit" id="submitButton">
</form>
<div *ngIf="show" id="resValue">
  {{amount | currConv : fromCurr : toCurr | currency:toCurr}}
</div>