<h3>Currency Converter</h3>
<form (ngSubmit)="showResult()">
  <div class="form-control">
    <label for="fromCurrency">from Currency:</label>
    <select name="fromCurrency" id="fromCurrency" [(ngModel)]="fromCurr" required>
      <option value="1.126735">USD</option>
      <option value="0.876893">GBP</option>
      <option value="79.677056">INR</option>
    </select>
  </div>
  <div class="form-control">
    <label for="toCurrency">to Currency:</label>
    <select name="toCurrency" id="toCurrency" [(ngModel)]="toCurr" required>
      <option value="1.126735">USD</option>
      <option value="0.876893">GBP</option>
      <option value="79.677056">INR</option>
    </select>
  </div>
  <div class="form-control">
    <input type="number" name="amount" id="amount" [(ngModel)]="amount" required>
  </div>
  <input type="submit" value="Submit" id="submitButton">
</form>
<div *ngIf="show" id="result">
  <p id="resValue">
    {{amount | currConv : fromCurr : toCurr }}
  </p>
</div>